@font-face {
  font-family: "digital";
  src: url("./fonts/Segment7-4Gml.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #888888;
  font-family: Arial, sans-serif;
}

.calculator {
  width: 297px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 25px rgb(0 0 0 / 79%);
  background-color: #424144;
}

.container {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 45%);
}

/* ! Description */
.description {
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.description p:nth-child(1) {
  margin-bottom: 5px;
}

.description p:not(:first-child) {
  font-size: 11px;
}

/* ! End Description */

/* ! Screen */
.screen-container {
  padding: 8px 11px;
  border-radius: 7.5px 7.5px 15px 15px;
  background-color: #393939;
}

.screen {
  position: relative;
  padding: 0 14px;
  border-radius: 5px 5px 10px 10px;
  background-color: #9a9d6b;
  color: #9a9d6b;
  font-size: 32px;
  text-align: right;
  font-family: "digital", sans-serif;
}

.screen.on {
  color: #2f2f2f;
  z-index: 1;
}

.screen.on::before {
  content: "8.8.8.8.8.8.8.8.8.8.8.";
  position: absolute;
  inset: 0;
  padding: inherit;
  border-radius: inherit;
  color: #bdbdbd;
  color: #87895c;
  font-size: inherit;
  z-index: -1;
}

/* ! End Screen */

/* ! Buttons */
.buttons .top,
.buttons .center,
.buttons .bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.buttons .top {
  padding: 15px 10px;
}

.buttons .center,
.buttons .bottom {
  padding: 10px;
  border: 3px double #2f2e31;
  border-radius: 8px;
}

.buttons .center {
  margin-bottom: 5px;
}

.btn {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 40%);
  background: linear-gradient(to bottom right, #ffffff73 0%, transparent 50%);
  font-size: 19px;
  cursor: pointer;
}

.btn.on {
  font-size: 13px;
  padding: 10px 5px;
}

.btn.sm {
  font-size: 10px;
  padding: 4px 15px;
  border-radius: 10px;
}

.btn.white {
  background-color: #fff;
  color: #000;
}

.btn.violet {
  background-color: #493d87;
  color: #fff;
}

.btn.red {
  background-color: #c9302c;
  color: #fff;
}

.btn:active {
  opacity: 0.9;
  transform: scale(0.99);
}

/* ! End Buttons */

.row-2 {
  grid-row: span 2;
}

.solar-eng {
  font-size: 19px;
  padding: 5px 15px;
  text-align: center;
  border-radius: 5px;
  grid-column: 3 / 5;
  background-color: #313636;
  color: #515756;
}
